button {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ababab;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.button {
  border: 0;
  font-family: sans-serif;
  font-weight: 600;
}

.button--submit {
  background: $yellow;
  color: $black;
}
