.flash {
  background: $content-background;
  padding: 1.5rem;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  box-sizing: border-box;

  p {
    display: inline;
    margin: 0px;
  }

  button {
    background: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &.error {
    border: 5px inset red;
  }

  &.success {
    border: 5px inset green;
  }

  &.caution {
    border: 5px inset yellow;
  }

  .error-list {
    display: flex;
    flex-direction: column;
  }
}
