label,
span {
  // padding: 10px 0 5px 0;
  // display: block;
}

input,
textarea,
select {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ababab;
  margin-top: 5px;
  margin-bottom: 15px;
}

textarea {
  min-width: 100%;
  min-height: 35px;
  max-height: 220px;
}

form.form {
  background: $content-background;
  padding: 2rem;
  h4 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  h6 {
    font-size: 20px;
    display: inline-block;
    margin: 10px 0px;
  }

  textarea {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .container {
    display: flex;
    flex-direction: row;

    .container {
      &__left {
        padding: 0 15px;
        width: 33%;
        max-width: 33%;
        box-sizing: border-box;
      }

      &__right {
        // padding: 0 15px;
        width: 66%;
        max-width: 66%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
      }

      &__input {
        width: 50%;
        max-width: 50%;
        padding: 0px 15px;
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 10px;

        &__full {
          @extend .container__input;
          width: 100%;
          max-width: 100%;
          padding: 0 15px;
        }
      }
    }
  }

  .rating {
    padding: 5px 0px;
  }

  .tags {
    margin-bottom: 0px;
  }
  & + .form {
    margin-top: 4rem;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }

  p.form-error {
    margin: 0;
    color: red;
  }

  .rating--label {
    padding-bottom: 0px;
  }

  // .rating {
  //   background-color: $grey;
  //   padding: 10px;
  //   color: $white;
  // }

  // This will create a dropdown button for the selects
  select {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
    }
  }
}

form#register {
  input {
    margin-bottom: 0px;
  }
}
