label {
  padding: 10px 0;
  display: block;
}

.form {
  background: $content-background;
  padding: 2rem;

  & + .form {
    margin-top: 4rem;
  }

  input,
  textarea,
  button {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .button {
    border: 0;
    background: $yellow;
    color: $black;
    font-family: "Panama";
    font-weight: 600;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }

  .dropZoneHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .dropZoneArea {
      display: flex;
      flex-direction: column;

      .dropZone {
        border: 2px dashed $grey;
        height: 300px;
        width: 300px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
      }
    }

    .dropZoneImage {
      display: flex;
      align-items: center;

      img {
        max-width: 300px;
      }
    }

    @media (max-width: 680px) {
      .dropZoneImage {
        display: none;
      }
    }
  }

  p.form-error {
    margin: 0;
    color: red;
  }
}
