label {
  padding: 10px 0;
  display: block;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ababab;
}

.form {
  background: $content-background;
  padding: 2rem;

  & + .form {
    margin-top: 4rem;
  }

  button {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ababab;
  }

  .button {
    border: 0;
    background: $yellow;
    color: $black;
    font-family: "Panama";
    font-weight: 600;
  }

  .input-group {
    display: flex;
    align-content: stretch;
  }
  .file-button {
    position: relative;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 4px 0px 0px 4px;
    padding: 10px;
    margin-right: 1px;
    &:hover,
    &:focus {
      cursor: pointer;
      color: #333;
      background-color: #ebebeb;
      border-color: #adadad;
    }
  }
  .file-button input[type="file"] {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  input[readonly] {
    display: inline;
    width: 30%;
    border: 1px solid #bbb;
    font-size: 1.5rem;
    border-radius: 0px 4px 4px 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    cursor: not-allowed;
    background-color: #eee;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }

  p.form-error {
    margin: 0;
    color: red;
  }

  .rating--label {
    padding-bottom: 0px;
  }

  .star--container {
    display: flex;

    button.star {
      background: $white;
      border: none;
      padding: 10px 0px;
      width: inherit;

      &:focus {
        outline-width: 0px;
      }

      &:hover {
        cursor: pointer;
        border: none;
        outline-color: $white;
      }

      &.star--empty {
        .center {
          fill: $white;
        }
        .border {
          fill: $yellow;
        }

        &:hover {
          .center,
          .border {
            fill: $yellow;
          }
        }
      }

      &.star--filled {
        .center,
        .border {
          fill: $yellow;
        }
      }

      svg {
        height: 50px;
        width: 50px;
      }
    }
  }
}
