header {
  background: $grad;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  background: #303030;

  svg {
    width: 50px;

    &.svg-maxHeight {
      width: auto;
      height: 50px;
    }
  }

  .nav-section {
    display: flex;
  }

  .item-holder {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    display: flex;
  }

  .nav-link {
    background: none;
    color: #fff;
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 5px solid rgba(255, 255, 255, 0.25);
    padding: 1.3rem 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    text-decoration: none;

    svg {
      transition: all 0.2s;
      fill: white;
      margin-bottom: 1rem;
    }

    &.home-link svg {
      width: 200px;
      margin: 0px;
    }

    &:hover,
    &:focus {
      background: linear-gradient(
          90deg,
          #48ded4 0%,
          #a026bf 20%,
          #e82c75 60%,
          #ffc40e 85%,
          #48ded4 95%
        )
        fixed;
      svg {
        transform: scale(1.2);
      }
    }
  }

  .nav-search {
    display: flex;
    flex: 1 1 auto;
  }
  .nav-user {
    display: flex;
    font-size: 2rem;
  }

  .nav-avatar {
    width: 29px;
    margin-bottom: 10px;
    background-color: #eee;
    border-radius: 50%;
    padding: 1px;
  }
}

@media (max-width: 1200px) {
  .nav {
    .nav-link {
      padding-left: 0.75em;
      padding-right: 0.75em;

      svg {
        width: 30px;
        &.svg-maxHeight {
          width: auto;
          height: 30px;
        }
      }

      &.home-link svg {
        width: 100px;
      }
    }

    .nav-user .nav-link {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

@media (max-width: 900px) {
  .nav {
    flex-wrap: wrap;

    .nav-section {
      width: auto;
      border-bottom: 0;
    }
    .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
      border-bottom: 0;

      &.home-link svg {
        width: 100px;
      }
    }

    .nav-pages {
      order: 1;
    }

    .nav-search {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      order: 2;
      width: 100%;

      input {
        padding: 10px;
      }
    }

    .nav-user {
      order: 1;
    }
  }
}

@media (max-width: 600px) {
  .nav {
    .item-holder {
      flex: 1;
    }
    .nav-section {
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .nav-item {
      width: 33%;
    }

    .nav-pages {
      order: 2;
    }

    .nav-search {
      order: 3;
    }

    .nav-user {
      order: 1;
    }
  }
}
