.star--container {
  display: flex;
  flex-wrap: wrap;

  button.star {
    background: $white;
    border: none;
    padding: 10px 0px;
    width: inherit;

    &:focus {
      outline-width: 0px;
    }

    &:hover {
      cursor: pointer;
      border: none;
      outline-color: $white;
    }

    &.star--empty {
      .center {
        fill: $white;
      }
      .border {
        fill: $yellow;
      }

      &:hover {
        .center,
        .border {
          fill: $yellow;
        }
      }
    }

    &.star--filled {
      .center,
      .border {
        fill: $yellow;
      }
    }
  }
}
