.star--container {
  display: flex;
  flex-wrap: wrap;

  button {
    background: $white;
    border: none;
    padding: 10px 0px;
    width: inherit;

    &:focus {
      outline-width: 0px;
    }

    &:hover {
      cursor: pointer;
      border: none;
      outline-color: $white;
    }

    // Don't change cursor if button is disabled
    &.disabled {
      &:hover {
        cursor: default;
      }
    }

    .star--empty {
      .center {
        fill: $white;
      }
      .border {
        fill: $yellow;
      }
    }

    .star--filled {
      fill: $yellow;
    }
  }
}
