/*
  Reviewer Form
 */
.reviewer {
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;

  textarea {
    border: 0;
    outline: 0;
    font-size: 2rem;
    padding: 2rem;
    height: 200px;
  }
  &__actions {
    display: flex;
    align-items: stretch;
    border-top: 1px solid $grey;
    & > * {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}
