.single {
  background-color: #e3d1bd;
  background-image: url(../../images/photos/grey-sandbag-1.png);
  padding: 40px;
  position: relative;

  .hero {
    &__container {
      background-color: #fff;
      background-image: url(../../images/photos/simple-horizontal-light.png);
      box-shadow: inset 0px 0px 4px 2px rgba(170, 170, 170, 1);
      padding: 20px;
      transform: rotate(-2deg);
      -webkit-backface-visibility: inherit;

      &--tilted {
        @extend .hero__container;
        display: block;
        padding: 0px;
        transform: rotate(2deg);
        -webkit-backface-visibility: hidden;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;

      > div {
        padding: 0 15px;
      }

      .hero__image__container {
        max-width: 50%;

        .hero__image {
          box-sizing: border-box;
          padding: 10px;
          box-shadow: inset 0px 0px 4px 2px rgba(170, 170, 170, 1);
          max-width: 100%;
          width: 100%;
        }
      }

      .hero__information {
        width: 50%;
        max-width: 50%;
      }
    }

    .hero__item {
      display: flex;
      flex-direction: row;
      font-size: 18px;
      margin-bottom: 25px;

      .item {
        &__icon {
          min-width: 40px;

          svg {
            width: 100%;
            height: 100%;
            color: #523517;
            fill: #523517;
          }
        }

        &__body {
          padding: 0 15px;
          display: flex;
          flex-direction: column;
        }

        &__title {
          font-size: 20px;
        }

        &__desc {
          color: $grey;
        }
      }
    }

    &__title {
      display: inline-block;
      margin: 0 15px 1.5rem 15px;
      padding: 0 0 0.5rem 0;
      border-width: 0 0 5px 0;
      border-style: dotted;
      border-color: #523517;
      border-image-slice: 33% 33%;
      border-image-repeat: round;

      a {
        font-size: 4.5rem;
        color: #523517;
      }
    }
  }

  .feed {
    position: inherit;
    &__container {
      background-color: #dfcbb4;
      background-image: url(../../images/photos/simple-vertical-light.png);
      box-shadow: inset 0px 0px 4px 2px rgba(170, 170, 170, 1);
      padding: 20px;
    }
  }
}
